* {
    margin: 0;
    font-family: 'Noto Sans Lepcha', sans-serif;
}

.main,
.top-bar,
nav {
    background-color: #348c3d;
    color: white;
}

.card {
    width: 200px;
    height: 170px;
    background-color: rgb(95, 170, 102);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.game-container {
    display: flex;
    width: 50%;
    justify-content: center;
}

.cards {
    display: grid;
    gap: 10px;
    flex-wrap: wrap;
    grid-template-columns: 1fr 1fr 1fr;
}

nav {
    height: 50px;
    display: flex;
    justify-content: center;
}

nav ul {
    width: 41%;
    height: 100%;
    padding: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(0, 0, 0, 0.123);
}

nav li {
    list-style: none;
    cursor: pointer;
}

.nav-right {
    display: flex;
    gap: 15px;
}

.nav-right,
.nav-left {
    display: flex;
    align-items: center;
}

.nav-right:last-child {
    padding-right: 10px;
}

.main {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 90vh;
}

.top-bar {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.card-img {
    height: 100%;
    width: 100%;
}

.info-div {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 650px;
}

.info-div:first-of-type {
    margin-top: 20px;
}

.info-div:last-of-type {
    margin-bottom: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 600px) {
    nav ul {
        width: 100%;
        justify-content: space-around;
    }

    .main {
        height: 80vh;
    }

    .game-container {
        width: 100%;
    }

    .cards {
        width: 90%;
        justify-content: center;
    }

    .card {
        width: 100px;
    }

    .info {
        font-size: 0.7rem;
    }

    .info-div {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .info-div p {
        width: 90%;
    }
}